<form [formGroup]="testCaseCreateForm" (ngSubmit)="onTestCaseCreate()" class="space-y-4">
  <input nbInput placeholder="Title" id="title" formControlName="title" type="text" class="mt-1 block w-full" />

  <nb-select placeholder="Trello Board" (selectedChange)="onBoardChange($event)" formControlName="trelloBoardId"
             *ngIf="trelloBoards$ | async as trelloBoards">
    <nb-option *ngFor="let board of trelloBoards" [value]="board.id">
      {{ board.name }}
    </nb-option>
  </nb-select>

  <nb-select placeholder="Trello Card" (selectedChange)="onCardChange($event)" formControlName="trelloCardId"
             *ngIf="trelloCards$ | async as trelloCards">
    <nb-option *ngFor="let card of trelloCards" [value]="card.id">
      {{ card.name }}
    </nb-option>
  </nb-select>

  <nb-tag *ngIf="trelloCardList$ | async as trelloCardList"
          [status]="getListName(trelloCardList)" appearance="filled"
          [text]="trelloCardList">
  </nb-tag>


  <angular-markdown-editor formControlName="description"
                           [textareaId]="'editor'"
                           [options]="editorOptions"
                           [rows]="12">
  </angular-markdown-editor>

  <nb-select placeholder="Status" formControlName="status">
    <nb-option *ngFor="let status of ['Not Tested', 'Testing In Progress', 'Testing Done']" [value]="status">
      {{ status }}
    </nb-option>
  </nb-select>

  <button nbButton type="submit">
    Create
  </button>
</form>
