<div class="header__container">
  <div *ngIf="trelloUserName" class="header__trello-username">{{ trelloUserName ? trelloUserName : '' }}</div>
  <nb-user [ngClass]="{'right-side': trelloUserName}"
           *ngIf="email"
           [name]="email"
           [nbPopover]="popOverRef"
           [nbPopoverPlacement]="'bottom'"
           [nbPopoverOffset]="20"
           class="header__user"
  > {{ email }}</nb-user>
</div>

<ng-template #popOverRef>
  <div class="header__popover-menu">
    <nb-icon icon="log-out"></nb-icon>
    <div (click)="logout()">Log Out</div>
  </div>
</ng-template>
