<div class="header__container">
  <div class="header__trello-username">{{trelloUserName}}</div>
  <nb-icon *ngIf="trelloUserName" status="success" icon="link-outline"></nb-icon>
  <nb-user *ngIf="email"
           [name]="email"
           [nbPopover]="popOverRef"
           [nbPopoverPlacement]="'bottom'"
           [nbPopoverOffset]="20"
           class="header__user"
  > {{ email }}</nb-user>
</div>

<ng-template #popOverRef>
  <div class="header__popover-menu">
    <div class="header__popover-menu__row logout">
      <nb-icon icon="log-out"></nb-icon>
      <div (click)="logout()">Log Out</div>
    </div>
  </div>
</ng-template>
