.header {
  &__container {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &__user {
    cursor: pointer;
  }

  &__popover-menu {
    display: flex;
    flex-direction: column;
    width: 200px;

    &__row {
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #F6F7F9;
      }
    }

    &__username {
      background-color: cornflowerblue;
    }

  }

  &__trello-username {
    margin-right: 18px;
  }

}

nb-user, nb-icon {
  margin-right: 18px;
}
