.header {
  &__container {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &__user {
    cursor: pointer;
  }

  &__popover-menu {
    display: flex;
    flex-direction: column;
    width: 140px;

    &__row {
      height: 48px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #F6F7F9;
      }
    }

    &__username {
      background-color: cornflowerblue;
    }

  }

  &__trello-username {
    margin-right: 18px;
  }

  &__logo {
    font-style: italic;
    font-weight: 500;
    position: absolute;
    left: 0;
    margin-left: 50%;
  }

}

nb-user, nb-icon {
  margin-left: 10px;
  margin-right: 18px;
}
