<div class="project-create-container">
  <nb-card>
    <nb-card-header>Create Project</nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="createProject()" [formGroup]="projectForm">
        <label for="name">Name:</label>
        <input nbInput type="text" id="name" formControlName="name" required />

        <label for="description">Description:</label>
        <textarea nbInput id="description" formControlName="description" required></textarea>

        <button nbButton status="primary" [disabled]="projectForm.invalid">Save</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>
