.test-suites {
  &__create {
    &__container {
      display: flex;
      padding: 10px;
    }
  }
}

nb-card {
  cursor: pointer;
  transition: background .3s linear;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}
