<ng-container *ngIf="testSuites$ | async as testSuites">
  <nb-card (click)="onTestSuiteClick(testSuite.id)" *ngFor="let testSuite of testSuites">
    <nb-card-header>{{testSuite.name}}</nb-card-header>
    <nb-card-body>{{testSuite.description}}</nb-card-body>
  </nb-card>

  <nb-card>
    <form class="test-suites__create__container" [formGroup]="testSuiteCreateForm" (ngSubmit)="onTestSuiteCreate()"
    >
      <div>
        <input placeholder="Name" nbInput id="name" formControlName="name" type="text" />
      </div>
      <div>
        <input placeholder="Description" nbInput id="description" formControlName="description" />
      </div>
      <input placeholder="Dead Line Date" nbInput formControlName="deadlineDay" [nbDatepicker]="datepicker">
      <input placeholder="Dead Line Time" nbInput formControlName="deadlineTime" [nbTimepicker]="timepicker">
      <nb-datepicker #datepicker></nb-datepicker>
      <nb-timepicker #timepicker></nb-timepicker>
      <button nbButton type="submit" status="success">
        Create Test Suite
      </button>
    </form>
  </nb-card>
</ng-container>
