<div class="login__container">
  <nb-card>
    <nb-card-header>Login</nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="login()" [formGroup]="loginForm">
        <input
          nbInput
          id="email-address"
          formControlName="email"
          type="email"
          required
          placeholder="Email"
        />
        <input
          nbInput
          id="password"
          formControlName="password"
          type="password"
          required
          placeholder="Password"
        />
        <div *ngIf="authError$ | async as authError" [ngStyle]="{'color': 'red', 'marginBottom': '10px'}">
          {{ authError }}
        </div>
        <button nbButton status="success" type="submit">Login</button>
        <span>Want to join us?
            <a href="/auth/register">Sign Up</a>
          </span>
      </form>
    </nb-card-body>

  </nb-card>
</div>
