<div>
  <div>
    <div>
      <h2>Login</h2>
    </div>
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="email-address" class="sr-only">Email</label>
          <input
            id="email-address"
            formControlName="email"
            type="email"
            required
            placeholder="Email"
          />
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input
            id="password"
            formControlName="password"
            type="password"
            required
            placeholder="Password"
          />
        </div>
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
    <a href="/auth/register">Register</a>
  </div>
</div>
