<nb-layout>
  <nb-sidebar state="compacted">
    <div class="sidebar__icons">
      <nb-icon icon="home-outline" routerLink="/"></nb-icon>
      <nb-icon routerLink="/projects" icon="cube-outline" [nbContextMenu]="projects"
               [nbContextMenuPlacement]="NbPosition.RIGHT"
               [nbContextMenuTrigger]="NbTrigger.HOVER"></nb-icon>
      <nb-icon icon="folder-outline" [nbContextMenu]="testSuites" [nbContextMenuPlacement]="NbPosition.RIGHT"
               [nbContextMenuTrigger]="NbTrigger.HOVER"></nb-icon>
    </div>
  </nb-sidebar>

  <nb-layout-header fixed>
    <divine-header
      [email]="userEmail$ | async"
      [user]="user$ | async"
      [trelloUserName]="trelloUserName$ | async"
    ></divine-header>
  </nb-layout-header>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
