<div [ngStyle]="{'color': 'red'}">{{ joinErrorMessage$ | async }}</div>
<nb-card class="projects__invite__form">
  <form [formGroup]="joinProjectForm" (ngSubmit)="onJoinProjectSubmit()">
    <input nbInput placeholder="Invite Token" type="text" id="inviteToken" formControlName="inviteToken" />
    <button nbButton type="submit" status="success">Join Project</button>
  </form>
</nb-card>

<div class="projects__container" *ngIf="projects$ | async as projects">
  <nb-card *ngFor="let project of projects" (click)="setActiveProject(project.id)">
    <nb-card-header>{{project.name}}</nb-card-header>
    <nb-card-body>{{project.description}}</nb-card-body>
  </nb-card>
</div>
